# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
*.png
# (Xóa dòng trên nếu bạn muốn push cái ảnh cnn_ddqn_results.png lên)
